<div class='header'>
	<h1>Articl.es<h1>
	<h4>... My cousin works for bit.ly</h4>
</div>

<br>
<%= link_to 'Back', articles_path %>
<br>

<h2>Editing "<%= @article.title %>"</h2>

<%= render 'form' %>
