<div class='header'>
	<h1>Articl.es<h1>
	<h4>... not just for the country of Spain</h4>
</div>

<%= link_to 'List all articles', articles_path %>
<br /><br />

<h2>Creating a New Article</h2>

<%= render 'form' %>


