/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
.nav_bar{
  text-align: right;
  ul {
  	list-style-type: none;
  	display: inline;
  }
}

.admin_nav_bar{
  margin-left: 20em;
  margin-right: 20em;
  border-width: 1px;
  border-style: solid;

  text-align: left;
  ul {
    list-style-type: none;
    display: inline;
  }
}

a {
	color:#494949;
 	&:visited {color: #666}
 	&:hover {
    color: black;
	 background-color: #DBDBDB;
	}
}

h1 {
  text-align: center;
}

label {
  width: 10em;
  float: left;
  text-align: right;
  margin-right: 3em;
  display: block; 
}

.actions {
  margin-left: 13em;
}

.radio_buttons {
  margin-left: 170px;
}

table {
  margin-left: auto;
  margin-right: auto;
}