// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
	margin-left: 40%;
}

h2 {
	display: inline;
}

th {
	background: #D0D0D0;	
}

.date, .title, .author {
	text-align: left;
	width: 10em;
}

.article_body {
	width: 25em;
	text-align: left;
}

.button {
	width: 10em;
	background: white;
}
.odd_row {
	background-color: #CCFFFF;
}

.articles {
	height: 20em;
	overflow: auto;
}

label {
	width: 10em;
	float: left;
	text-align: right;
	margin-right: 3em;
	display: block;	
}

.actions {
	margin-left: 13em;
}